.book-create {
	padding: 5%;
	background: #FFFFFF;
	box-shadow: 3px 3px 10px 0px #CCCCCC;
	border-radius: 1rem;
	margin-bottom: 1rem;
}

.book-create button {
	width: 30%;
	margin: 5% 35%;
}

.book-create h2 {
	margin-bottom: 2rem;
}