.login {
	width: 50%;
	margin: 0% 25%;
	padding: 5%;
	background: #FFFFFF;
	box-shadow: 3px 3px 10px 0px #CCCCCC;
	border-radius: 1rem;
}

.login button {
	width: 100%;
	margin-top: 1rem;
	border-radius: 0.25rem;
}