<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/bookCreate.css"/>
	</head>
	<body>
		<div class="book-create">
			<h2>Create new book :</h2>
			<form>
				<fieldset>
					<div class="form-group">
						<label for="bookTitle">Book Title</label>
						<input type="text" class="form-control" id="bookTitle" aria-describedby="bookTitleHelp" placeholder="Enter book title">
						<small id="bookTitleHelp" class="form-text text-muted"><b>NOTE : </b>No more than 100 characters</small>
					</div>
					<div class="form-group">
						<label for="bookDesc">Book Introduction</label>
						<textarea class="form-control" id="bookDesc" rows="5" aria-describedby="bookDescHelp" placeholder="Enter book introduction"></textarea>
						<small id="bookDescHelp" class="form-text text-muted"><b>NOTE : </b>No more than 500 characters</small>
					</div>
					<div class="form-group">
						<label for="bookGit">Book Git Repository</label>
						<input type="text" class="form-control" id="bookGit" aria-describedby="gitHelp" placeholder="Enter book git repository">
						<small id="gitHelp" class="form-text text-muted"><b>E.g : </b>https://github.com/hqzxzb/BookCloud.git</small>
					</div>
					<div class="form-group">
						<label for="bookGitUsername">Book Git Username</label>
						<input type="text" class="form-control" id="bookGitUsername" placeholder="Enter book git username">
					</div>
					<div class="form-group">
						<label for="bookGitPassword">Book Git Password</label>
						<input type="password" class="form-control" id="bookGitPassword" placeholder="Enter book git password">
					</div>
				</fieldset>
				<button type="button" class="btn btn-primary">Create !</button>
			</form>
		</div>
		
		<!-- Load JavaScript -->
		<script src="js/bookCreate.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
